<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Welcome | CampusForge</title>

{% comment %} <link rel="stylesheet" href="welcome.css"> {% endcomment %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/onboarding/welcome.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="container">

<div class="card">

<div class="rocket">

<i class="fa-solid fa-rocket"></i>

</div>

<h1>Welcome to CampusForge</h1>

<p class="subtitle">

The place where your engineering journey
gets recognized beyond CGPA.

</p>

<div class="features">

<div><i class="fa-solid fa-code"></i> Showcase Projects</div>

<div><i class="fa-solid fa-laptop-code"></i> Track Coding Progress</div>

<div><i class="fa-solid fa-trophy"></i> Earn Achievements</div>

<div><i class="fa-solid fa-ranking-star"></i> Compete on Leaderboards</div>

<div><i class="fa-solid fa-user-graduate"></i> Build Your Portfolio</div>

</div>

<div class="progress">

<div class="active"></div>

<div></div>

<div></div>

<div></div>

<div></div>

</div>

<a href="basic-info.html">

<button>

Let's Build Your Profile →

</button>

</a>

</div>

</div>
<script src="{{ url_for('static', filename='js/onboarding/welcome.js') }}"></script>
</body>

</html>