* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    /* Specify the path to your image file or URL */
    background-image: url("bg.png");
     /* Stop the image from repeating like a tile grid */
    background-repeat: no-repeat;
    /* Center the background image vertically and horizontally */
    background-size: cover;
    /* Keep the background fixed in place while scrolling page content */
    background-attachment: fixed;
     /* Reset default browser margins to avoid unexpected white edges */
    margin: 0;
    
    
}
 