<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Leaderboard | CampusForge</title>
</head>

<body>

    <h1>{{ college.name }}</h1>

    <h2>Student Leaderboard</h2>

    {% if students %}

        {% for student in students %}

            <div>

                <h3>
                    #{{ loop.index }}
                    {{ student.full_name }}
                </h3>

                <p>
                    Email: {{ student.email }}
                </p>

                <p>
                    Branch: {{ student.branch }}
                </p>

                <p>
                    XP: {{ student.total_xp }}
                </p>

            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>No students found.</p>

    {% endif %}

</body>

</html>