*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:#0B1023;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    width:90%;

    max-width:1200px;

    min-height:720px;

    display:flex;

    border-radius:20px;

    overflow:hidden;

}

.left{

    flex:1;

    background:linear-gradient(135deg,#6C63FF,#4F46E5);

    color:white;

    padding:70px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.left h1{

    font-size:52px;

}

.left h2{

    margin-top:50px;

    font-size:48px;

}

.left p{

    margin-top:20px;

    line-height:35px;

    font-size:20px;

}

.right{

    flex:1;

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

}

form{

    width:80%;

    text-align:center;

}

.icon{

    width:75px;

    height:75px;

    background:#6558F5;

    color:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    margin:auto;

    margin-bottom:25px;

}

.subtitle{

    margin:20px 0 40px;

    color:gray;

}

.otp{

    display:flex;

    justify-content:space-between;

    gap:12px;

    margin-bottom:35px;

}

.otp input{

    width:65px;

    height:65px;

    text-align:center;

    font-size:28px;

    border-radius:12px;

    border:1px solid #ddd;

}

.otp input:focus{

    outline:none;

    border:2px solid #6558F5;

    box-shadow:0 0 10px rgba(101,88,245,.3);

}

button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    background:#6558F5;

    color:white;

    font-size:18px;

    cursor:pointer;

}

button:hover{

    background:#5546F0;

}

.timer{

    margin-top:25px;

    color:gray;

}

a{

    display:block;

    margin-top:12px;

    text-decoration:none;

    color:#6558F5;

    font-weight:bold;

}

.back{

    margin-top:30px;

}