<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Forgot Password</title>

    {% comment %} <link rel="stylesheet" href="forgot-password.css"> {% endcomment %}
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/auth/forgot-password.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="container">

    <div class="left">

        <h1>CampusForge</h1>

        <p>Build • Learn • Lead</p>

        <h2>Forgot your password?</h2>

        <p class="description">

            Don't worry.

            Enter your college email and we'll send
            you a verification code.

        </p>

    </div>

    <div class="right">

        <form>

            <div class="lock">

                <i class="fa-solid fa-lock"></i>

            </div>

            <h2>Forgot Password</h2>

            <p class="info">

                Enter your registered college email.

            </p>

            <div class="input-box">

                <i class="fa-solid fa-envelope"></i>

                <input
                type="email"
                placeholder="College Email">

            </div>

            <button>

                Send Verification Code

            </button>

            <a href="index.html" class="back">

                ← Back to Login

            </a>

        </form>

    </div>

</div>
<script src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>
</body>

</html>