<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusForge Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

    <div class="left-section">
        <h1>CampusForge</h1>
        <p>Build. Learn. Lead.</p>
        <h2>Welcome Back!</h2>
        <p>Track your skills, compete with friends, and become the best engineer on campus.</p>
    </div>

    <div class="login-card">

        <h1>Login</h1>

        <form>

            <div class="input-box">
                <label>Email</label>
                <input type="email" placeholder="Enter your email">
            </div>

            <div class="input-box">
                <label>Password</label>
                <input type="password" placeholder="Enter your password">
            </div>

            <div class="options">
                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit">Login</button>

            <p class="signup">
                Don't have an account?
                <a href="#">Sign Up</a>
            </p>

        </form>

    </div>

</div>

</body>
</html>