<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusForge Login</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/auth/login.css') }}">
</head>
<body>

<div class="container">

    <div class="left-section">
        <h1>CampusForge</h1>
        <p>Build. Learn. Lead.</p>
        <h2>Welcome Back!</h2>
        <p>Track your skills, compete with friends, and become the best engineer on campus.</p>
    </div>

    <div class="login-card">

        <h1>Login</h1>
            <div class="login-type">
                <button type="button" class="login-type-btn active" onclick="selectLoginType('student')">
                    <i class="fa-solid fa-user-graduate"></i>
                    Student
                </button>

                <button type="button" class="login-type-btn" onclick="selectLoginType('admin')">
                    <i class="fa-solid fa-user-tie"></i>
                    Admin
                </button>
            </div>

        <form method="POST" action="{{ url_for('login') }}" autocomplete="off">
            <input type="hidden" name="login_type" id="login_type" value="student">

            <div class="input-box">
                <label>Email</label>
                <input type="email"
                        name="email"
                        placeholder="Enter your email"
                        autocomplete="off"
                        required>
            </div>

            <div class="input-box password-box">
                <label>Password</label>

                <div class="password-wrapper">
                    <input type="password"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                        
                        required>

                    <button type="button"
                        class="toggle-password"
                        onclick="togglePassword()">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>

            <div class="options">
                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

                <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
            </div>

            <button type="submit">Login</button>

            <p class="signup">
                Don't have an account?
                <a href="{{ url_for('signup') }}">Sign Up</a>
            </p>

        </form>

    </div>

</div>
<script src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>
<script>
function togglePassword() {

    const passwordInput = document.getElementById("password");
    const toggleButton = document.querySelector(".toggle-password");
    const icon = toggleButton.querySelector("i");

    if (passwordInput.type === "password") {

        passwordInput.type = "text";

        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");

    } else {

        passwordInput.type = "password";

        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
    }
}

function selectLoginType(type) {

    const buttons = document.querySelectorAll(".login-type-btn");
    const loginType = document.getElementById("login_type");

    buttons.forEach(button => {
        button.classList.remove("active");
    });

    if (type === "student") {
        buttons[0].classList.add("active");
    } else {
        buttons[1].classList.add("active");
    }

    loginType.value = type;
}
</script>
</body>
</html>