<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusForge Login</title>
    
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/auth/login.css') }}">
</head>
<body>

<div class="container">

    <div class="left-section">
        <h1>CampusForge</h1>
        <p>Build. Learn. Lead.</p>
        <h2>Welcome Back!</h2>
        <p>Track your skills, compete with friends, and become the best engineer on campus.</p>
    </div>

    <div class="login-card">

        <h1>Login</h1>

        <form method="POST" action="{{ url_for('login') }}">

            <div class="input-box">
                <label>Email</label>
                <input type="email"
                        name="email"
                        placeholder="Enter your email"
                        required>
            </div>

            <div class="input-box password-box">
                <label>Password</label>

                <div class="password-wrapper">
                    <input type="password"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                        required>

                    <button type="button"
                                class="toggle-password"
                                onclick="togglePassword()">
                            👁️
                    </button>
                </div>
            </div>

            <div class="options">
                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

                <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
            </div>

            <button type="submit">Login</button>

            <p class="signup">
                Don't have an account?
                <a href="{{ url_for('signup') }}">Sign Up</a>
            </p>

        </form>

    </div>

</div>
<script src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>
<script>
function togglePassword() {

    const passwordInput = document.getElementById("password");
    const toggleButton = document.querySelector(".toggle-password");

    if (passwordInput.type === "password") {

        passwordInput.type = "text";
        toggleButton.textContent = "🙈";

    } else {

        passwordInput.type = "password";
        toggleButton.textContent = "👁️";
    }
}
</script>
</body>
</html>