<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Verify OTP</title>

    {% comment %} <link rel="stylesheet" href="otp.css"> {% endcomment %}
    <link rel="stylesheet"
href="{{ url_for('static', filename='css/auth/otp.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="container">

    <!-- Left -->

    <div class="left">

        <h1>CampusForge</h1>

        <p class="tag">Build • Learn • Lead</p>

        <h2>Verify Your Identity</h2>

        <p class="description">

            We have sent a verification code
            to your registered college email.

        </p>

    </div>

    <!-- Right -->

    <div class="right">

        <form>

            <div class="icon">

                <i class="fa-solid fa-shield-halved"></i>

            </div>

            <h2>Verify OTP</h2>

            <p class="subtitle">

                Enter the 6-digit code

            </p>

            <div class="otp">

                <input maxlength="1">

                <input maxlength="1">

                <input maxlength="1">

                <input maxlength="1">

                <input maxlength="1">

                <input maxlength="1">

            </div>

            <button>

                Verify OTP

            </button>

            <p class="timer">

                Didn't receive the code?

            </p>

            <a href="#">

                Resend OTP

            </a>

            <a href="forgot-password.html"
               class="back">

               ← Back

            </a>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='js/auth/otp.js') }}"></script>

</body>

</html>