<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Reset Password</title>

    {% comment %} <link rel="stylesheet" href="reset-password.css"> {% endcomment %}
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/auth/reset-password.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="container">

    <!-- Left -->

    <div class="left">

        <h1>CampusForge</h1>

        <p class="tag">
            Build • Learn • Lead
        </p>

        <h2>Almost There!</h2>

        <p class="description">

            Create a strong password
            to keep your account secure.

        </p>

    </div>

    <!-- Right -->

    <div class="right">

        <form>

            <div class="icon">

                <i class="fa-solid fa-key"></i>

            </div>

            <h2>Reset Password</h2>

            <p class="subtitle">

                Enter your new password.

            </p>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                type="password"
                placeholder="New Password">

            </div>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                type="password"
                placeholder="Confirm Password">

            </div>

            <div class="rules">

                <p>✓ Minimum 8 characters</p>

                <p>✓ One uppercase letter</p>

                <p>✓ One number</p>

                <p>✓ One special character</p>

            </div>

            <button>

                Reset Password

            </button>

            <a
            href="otp.html"
            class="back">

            ← Back

            </a>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='js/auth/reset-password.js') }}"></script>
</body>

</html>