<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Success</title>

    <link rel="stylesheet" href="success.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="container">

    <!-- Left -->

    <div class="left">

        <h1>CampusForge</h1>

        <p class="tag">
            Build • Learn • Lead
        </p>

        <h2>Welcome Back!</h2>

        <p class="description">

            Your account is secure again.

            Continue your journey and keep building amazing things.

        </p>

    </div>

    <!-- Right -->

    <div class="right">

        <div class="card">

            <div class="success">

                <i class="fa-solid fa-circle-check"></i>

            </div>

            <h2>Password Reset Successfully!</h2>

            <p>

                Your password has been updated.

                You can now login using your new password.

            </p>

            <a href="index.html">

                <button>

                    Continue to Login

                </button>

            </a>

            <a
            href="index.html"
            class="home">

                Return to Homepage

            </a>

        </div>

    </div>

</div>

</body>

</html>